:root {
  --default-theme-color: #10bea5;
  --default-body-color: #f0f5f2;
  --default-text-black: #333;
  --default-text-white: #fcfcfc;
  --default-block-color: #aaeedc;
  --default-border-radius: 10px;
  --default-transition-time: 0.3s;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Adjust layout for smaller screens */
@media (max-width: 760px) {
    .workouts-container {
        grid-template-columns: 1fr;
    }
}

body {
  background-color: var(--default-body-color);
  font-family: var(--font-family);
  color: var(--default-text-black);
  margin: 0;
  padding: 0;
}

.page {
  h1 {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

.navbar {
  background-color: var(--default-theme-color);
  padding: 10px;
  display: flex;
  box-shadow: 5px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15%;
  padding-left: 10%;
  padding-right: 10%
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.schedule-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  background-color: #fff;
  border-radius: var(--default-border-radius);
  padding:0px, 100px, 100px, 0px;
  margin: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Optional: Style each day's section */
.day-column {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: var(--default-border-radius);
  text-align: center;
  background-color: #f9f9f9;
}

.highlight {
  background-color: var(--default-block-color); /* Bright yellow */
  font-weight: bold;
  border: 2px solid var(--default-theme-color);
}

.highlight:hover {
  transform: scale(1.02);
  transition: transform var(--default-transition-time) ease-in-out;
}

.filter-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.workouts-container {
    display: grid;
    gap: 5%;
    padding: 10%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 50px;
}


.workout-block {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--default-theme-color);
    color: var(--default-text-white);
    height: 200px;

    h2 {
      text-align: center;
    }

    li {
      font-size: 16px;
      margin: 10px 0;
    }
}

#home {
  h2 {
    text-align: center;
  }
}

#settings {
  text-align: center;

}